In [2]:
def hello():
    print("hello from the function")
hello()

hello from the function

In [3]:
def add():
    a=10
    b=20
    c=30
    print(c)
add()

30

In [4]:
def add(a,b):
    print(a+b)
add(7846836587,764865768)

8611702355

In [ ]:
def child(*kids):
    print("the youngest child is " +kids[2])
child("mohan","rohan","sohan")

the youngest child is sohan

In [22]:
def hobby(name="coding"):
    print("my hobby is " + name)
hobby("cricket")
hobby()

my hobby is cricket
my hobby is coding

In [17]:
def child(child1,child2,child3):
    print("the youngest child is " +child3)
child(child3="mohan",child2="rohan",child1="sohan")

the youngest child is mohan

In [24]:
def avgg(name):
    print(sum(name)/len(name))
avgg([1,2,3,4,5])

3.0

In [9]:
def sq(num):
    return num*num

lst = [1,2,3,4,5]
result = map(sq,lst)
print(list(result))

[1, 4, 9, 16, 25]

In [11]:
lst = [1,2,3,4,5]
result = filter(lambda num : num%2==0,lst)
print(list(result))

[2, 4]

In [12]:
from functools import reduce 

lst = [1,2,3,4,5]
result = reduce(lambda num1,num2 : num1+num2,lst)
print(result)

15

In [ ]:
lst = ["mohan","rohan","sohan"]
result = enumerate(lst)
print(list(result))

[(0, 'mohan'), (1, 'rohan'), (2, 'sohan')]

In [15]:
lst1 = ["yuy","yet","yj"]
lst2 = [1,2,]
result = zip(lst1,lst2)
print(list(result))

[('yuy', 1), ('yet', 2)]

In [20]:
zipped  =[(0, 'mohan'), (1, 'rohan'), (2, 'sohan')]
result, number = zip(*zipped)

print(list(result))
print(list(number))

[0, 1, 2]
['mohan', 'rohan', 'sohan']

In [4]:
x = lambda a,b : a + b
x(5,344)

349