In [4]:
class car :
    num1 = 10
    num2 = 20
    name = "abc"
    model = "xyz"
    def add (self):
        return self.num1 + self.num2
    def display (self):
        return self.name , self.model
obj = car()
obj.display()

('abc', 'xyz')

In [ ]:
class animal:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def display(self):
        return self.name , self.age

obj = animal("lion",10 )
obj.display()

('lion', 10)

In [1]:
class animal:
    def __init__(self,n,a):
        self.name = n
        self.age = a

    def display(self):
        return self.name , self.age

obj = animal("lion",10 )
obj.display()

('lion', 10)

In [3]:
##inhertance -- single mul. mul.le. hyer, hybrid,
##single inhertance
class car:
    def display(self):
        return "car"
class bike:
    def show(self):
        return "bike"
obj = bike()
print(obj.display())
print(obj.show())

SyntaxError: invalid syntax (2321141982.py, line 9)

In [9]:
class persone:
    def __init__(self,name):
        self.name = name

    def show(self):
        return self.name

class employee(persone):
    def __init__(self,name,salary):
        super().__init__(name)
        self.salary = salary

obj = employee("abc",1000)
obj.show()

'abc'

In [ ]:
list

In [12]:
class persone:
    def __init__(self,name):
        self.name = name

    def show(self):
        return self.name

class employee(persone):
    def __init__(self,name,salary):
        super().__init__(name)
        self.salary = salary


class job:
    def __init__(self,salary):
        self.salary = salary

class job:
    def __init__(self,salary):
        self.salary = salary

class Employeepersonjob(employee,job):
    def __init__(self,name,salary):
        employee.__init__(self,name,salary)
        job.__init__(self,salary)

In [16]:
class cat:
    def sound(self):
        return "meow"
class dog:
    def sound(self):
        return "bark" 
    
    def make_sound(animal):
        return animal.sound()

cat = cat()
dog = dog()


print(make_sound(cat))
print(make_sound(dog))

meow
bark

In [ ]:
class rectangle:
    def area(user):
        return "Length*Breadth"

In [20]:
class student:
    def __init__(self,name,marks):
        self.name = name
        self.__marks = marks 

    def set_marks(self):
        return self.__marks
    
    def set_marks(self,marks):
        if 0 <= marks <= 100:
            self.__marks = marks

        else:
            print("Invalid marks")
s = student("abc",90)
s._student__marks

90